<!--<section>
  <div class="banner">
    <img [src]="bannerUrl" alt="Company Image" class="d-block w-100" />
  </div>
</section>-->

<section class="quality-assurance py-5">
  <div class="container">
    <div class="text-center">
      <h2 class="mb-4">Quality Assurance</h2>
    </div>
    <div class="row">
      <div class="col-md-10 d">
        <div>
          <p>
            Quality lies at the heart of our sustainable retreading ecosystem. Everything we do is based on delivering the highest
            standards to customers. Testament of our commitment is our <b>
              ISO9001:2015 quality management systems (QMS) certification by the
              Standards and Industrial Research Institute of Malaysia (SIRIM),
            </b> which serves as the base for our quality assurance and total
            quality management (TQM) initiatives.
          </p>

          <p>
            In continuing our milestones towards sustainable journey of retreading ecosystem, we are pround and honoured being
            <b>awarded ISO 14001:2015 to be a part of the environment chain by complying the series of environmental management standards.</b>
            We're driven by the efforts of systematising and improving our operation standards that aligned with our retreading ideology,
            practices and working culture.
          </p>

          <p>
            By earning our basic certification marks, Eversafe's products are shown to be consistently manufactured with the standards
            of <b>MS certified by SIRIM that boost customers' confidence and reliability.</b>
          </p>

          <p>
            Through our initiatives of <b>'Safe & Save'</b> retreading concept, our offerings are more than just product innovation that are
            safe and reliable from customer perspective, but also save for the well-balanced environment in long term sustainable future
            tomorrow.
          </p>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-center">
        <img [src]="qualityImageUrl" alt="Quality Image" class="w-100 shadow-lg rounded"/>
      </div>
    </div>

  </div>
</section>
