<!--<section>
  <div class="banner">
    <img [src]="bannerUrl" alt="Company Image" class="d-block w-100" />
  </div>
</section>-->

<section class="quality-assurance py-5">
  <div class="container">
    <div class="text-center">
      <h2 class="mb-4">Quality Assurance</h2>
    </div>
    <div class="row">
      <div class="col-md-10 d">
        <div>
          <p>
            Quality lies at the heart of our sustainable retreading ecosystem. Everything we do is based on delivering the highest standards to customers. Our internal standards serves as the base for our quality assurance and total quality management (TQM) initiatives.
          </p>

          <p>
            We're driven by the efforts of systematising and improving our operation standards that aligned with our tyre ideology, practices and working culture.
          </p>

          <p>
            By earning our basic certification marks, Comfort's products are shown to be consistently manufactured with the standards of <b>confidence and reliability.</b>
          </p>

          <p>
            Through our initiatives of <b>'Safe & Save'</b> tyre concept, our offerings are more than just product innovation that are safe and reliable from customer perspective, but also save for the well-balanced environment in long term sustainable future tomorrow.
          </p>
        </div>
      </div>
      <div class="col-md-2 d-flex align-items-center">
        <img [src]="qualityImageUrl" alt="Quality Image" class="w-100 shadow-lg rounded"/>
      </div>
    </div>

  </div>
</section>
