
<!--<section class="slider">
  <div id="carouselIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-label="Slide 1"></button>-->
      <!--<button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>-->
    <!--</div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/banner01.png" class="block-d w-100" alt="Slide 1">
      </div>-->
      <!--<div class="carousel-item">
        <img src="assets/images/banner04.png" class="block-d w-100" alt="Slide 2">
      </div>
      <div class="carousel-item">
        <img src="assets/images/banner03.jpg" class="block-d w-100" alt="Slide 3">
      </div>-->
    <!--</div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>-->

<section class="dashboard py-5">
  <section class="info-section container">
    <div class="row">
      <!-- Introduction Section -->
      <div class="col-md-6 col-12 d-flex">
        <div>
          <!--<h3 class="mb-4">About Comfort Green Tyre</h3>-->
          <p>Solid tyres branded <strong class="highlight">"COMFORT"</strong> and <strong class="highlight">"SMART"</strong> are produced at <strong class="highlight">COMFORT GREEN TYRE</strong> plant in Malaysia. We employ the most sophisticated and technologically advanced machineries to produce solid tyres with radial matrices in six segments.</p>
          <p>For solid  tyres,  <strong class="highlight">COMFORT  GREEN  TYRE</strong>  uses  own  compounds  made  with  the  best  chemicals  supplied  by  the  well-recognized  worldwide  manufacturers. In such a way, through physical-mechanical tests, we can assure a <strong>constant quality over time</strong>, which places <strong class="highlight">COMFORT GREEN TYRE</strong> solid tyres at the top of the market.</p>
          <div class="text-end mb-3">
            <button class="btn btn-sm bg-info" routerLink="/about">Read More <fa-icon [icon]="faArrow"></fa-icon></button>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-12">
        <!--Address-->
        <div class="row">
          <div class="col-1 text-end">
            <fa-icon [icon]="faHome"></fa-icon>
          </div>
          <div class="col-11">
            <h6><strong>Comfort Green Tyre Sdn Bhd (1562061-W)</strong></h6>
            <span>94, Portland Avenue, Tasek Industrial Estate, <br /> 31400 Ipoh, Perak, Malaysia </span>
          </div>
        </div>

        <!--Phone-->
        <div class="row">
          <div class="col-1 text-end">
            <fa-icon [icon]="faPhone"></fa-icon>
          </div>
          <div class="col-11">
            <span>+605 291 0599</span>
          </div>
        </div>

        <!--Fax-->
        <div class="row">
          <div class="col-1 text-end">
            <fa-icon [icon]="faFax"></fa-icon>
          </div>
          <div class="col-11">
            <span>+605 291 1699</span>
          </div>
        </div>

        <!--Email-->
        <div class="row">
          <div class="col-1 text-end">
            <fa-icon [icon]="faMailBulk"></fa-icon>
          </div>
          <div class="col-11">
            <a href="mailTo:enquiry@comfortgreentyre.com.my">enquiry&#64;comfortgreentyre.com.my</a>
          </div>
        </div>

        <!--Website-->
        <div class="row">
          <div class="col-1 text-end">
            <fa-icon [icon]="faGlobe"></fa-icon>
          </div>
          <div class="col-11">
            <a href="http://comfortgreentyre.com.my" target="_blank">www.comfortgreentyre.com.my</a>
          </div>
        </div>
        <div class="text-end mb-3">
          <button class="btn btn-sm bg-info" routerLink="/contact">Enquiry <fa-icon [icon]="faArrow"></fa-icon></button>
        </div>
      </div>
    </div> 
  </section>
</section>
