<h1 id="tableLabel">Solid Tire Comfort</h1>

<p>This component demonstrates fetching data from the server and create table dynamically.</p>

<!--<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>-->

<!--<table *ngIf="solidTireComfort">-->
<table *ngIf="solidTireComfort">
  <thead>
    <tr>
      <th>Rim</th>
      <th>Size</th>
      <th>Rimsize</th>
      <th>Weight</th>
      <th>mm +-2%</th>
      <th>Width</th>
      <th>Loadbearing</th>
      <th>Steering</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let x of solidTireComfort">
      <td>{{x.category}}</td>
      <td>{{ x.size }}</td>
      <td>{{ x.rimsize }}</td>
      <td>{{ x.weight }}</td>
      <td>{{ x.mm }}</td>
      <td>{{ x.width }}</td>
      <td>{{ x.loadBearing }}</td>
      <td>{{ x.steering }}</td>
    </tr>
  </tbody>
</table>
