
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
}

/*NavBar*/

.navbar {
  background: linear-gradient(#555, #333, #000);
  color: #fff;
  padding: 10px 30px;
}

.logo-container {
  height: 60px;
  width: 60px;
  background: white;
}

.logo{
  object-fit: fill;
  height: 100%;
}

.navbar-nav {
  gap: 20px;
}

/*.nav-item {*/
/*  border-right: 2px solid #000;*/
/*  padding: 0 30px;*/
/*  background: green;*/
/*}

  .nav-item:last-child {
    border-right: none;
  }*/

.nav-link {
  color: #fff;
  font-weight: bold;
}

  .nav-link:hover {
    color: #ffd800;
  }

.navbar-text {
  font-weight:lighter;
  font-size: 20px;
  color: #fff;
  letter-spacing: 0;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .navbar-nav {
    gap: 0;
  }
}

/*About Us*/

h2 {
  color: #333;
  font-weight: 700;
}

p {
  color: #777;
  line-height: 1.6;
  text-align: justify;
}

.reactive-border {
  max-height: 300px;
  width: 100%;
  height: auto;
  border: 5px solid orange;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  object-fit: fill;
}


  .reactive-border:hover {
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
  }

.shadow-lg {
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.about-us .card {
  height: 200px;
  border: none;
  background: #f8f9fa;
}

  .about-us .card:hover {
    background: black;
    color: white;
  }

.card-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 50px;
  font-size: 300%;
}

@media (max-width: 992px) {
  .about-us .card {
    height: fit-content;
  }
}

/* Slider container */
/*.slider {
  width: 100%;
  height: 400px;
  overflow: hidden;*/ /* Prevent images from overflowing */
/*}*/

/* Images within the slider */
/*.slider-image {
  width: 100%;*/ /* Make the image span the width of the slider */
  /*height: 100%;*/ /* Ensure the image fills the slider height */
  /*object-fit: cover;*/ /* Ensures the image covers the area while maintaining aspect ratio */
/*}*/


/*Banner*/
/*.banner{
    width: 100%;
    height: 400px;*/
    
/*    background: green;*/
/*}*/

/* Body Container*/

/*.body-content{
  margin: 0 2%;
}*/

/* Dashboard */
.dashboard {
  background-color: #e5f9e2;
}

.justified-text{
  text-align: justify;
}

.highlight {
  color: #2fcca7;
}

.info-section p{
  color: black;
}

.key-feature {
  display: flex;
  justify-content: center;
  align-items: center;
/*  flex-direction: column;*/
  gap: 20px;
}

.dashboard-img {
  height: 200px;
  width: 200px;
  border: 5px solid #2fcca7;
}

.certification {
  display: flex;
/*  justify-content: space-between;*/
  align-items: center;
  flex-direction: row;
  gap: 50px;
}

.stump {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}



@media (max-width: 992px) {
  .dashboard-img {
    height: 250px;
    width: 250px;
  }

  .key-feature{
    flex-direction: column;
  }

  .certification {
    gap: 10px;
  }

  .stump {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: 0;
  }
}

/* For the table header and image alignment */
.table-container {
  overflow-x: auto;
  padding: 20px 0;
}

.table-upper-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.model-title-container {
  text-align: left;
  color: #2fcca7;
}

.model-title-container h1, h5{
    margin: 0;
    line-height: 1;
}

.model-image-container {
  border-left: 1px solid #ddd;
  padding-left: 10px;
}

.model-image {
  height: 120px;
  max-width: 100%;
  object-fit: contain;
}

@media (max-width: 992px){
  .table-upper-header {
    gap: 10px;
  }

  .model-title-container h1 {
      font-size: 30px;
  }
  .model-title-container h5 {
      font-size: 16px;
  }
}



/* Table styling */
table {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
  overflow-x: auto;
}

thead{
  border: 1.75px solid #000;
  border-bottom: 0;
}
tbody {
  border-top:0;
  border: 1.75px solid #000;
}

th {
  padding: 0.75rem;
  border: 1px solid #fff;

  background-color: #000;
  color: #fff;
  text-align: center;
}

td {
  border: 1px solid #000;
  text-align: center;
}



/* Responsive layout adjustments */
@media (max-width: 992px) {
  .tables-section .row {
    flex-direction: column;
  }

  table{
    font-size: 10px;
  }
}

/* Contact Us*/

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid #ddd;
  padding: 0 30px;
/*  background: green;*/
}

.form-gp{
    width: 80%;
/*    background: blue;*/
}

/* compound*/
.compound-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
  background: linear-gradient(to right, #D4EDDA, #D4EDDA, #008f66);
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0 100%);
}

.compound-title{
/*  width: 600px;*/
  max-width: 800px;
  text-align: justify;
}

.compounds{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.compound {
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle {
  border-radius: 50%;
}

.compound-alias {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.compound-1 {
  background-color: #3f51b5;
  color: #fff;
}
.compound-2 {
  color: #000;
  border: 3px solid #000;
  font-size: 30px;
}
.compound-3 {
  background-color: #ffd800;
}
.compound-4 {
  background-color: #777;
  color:#fff;
}
.compound-5 {
  background-color: #00b45a;
  color: #fff;
}

.compound-6 {
  background-color: orange;
  color: #000;
}
.compound-7 {
  background-color: #D4EDDA;
  color: #000;
}
.compound-8 {
  background-color: #2843f9;
  color: #fff;
}

.compound-name{
  display: flex;
  flex-wrap: wrap;
  width: 60px;
  font-size: 12px;
}

@media (max-width: 992px) {
  .compound-container {
    padding: 10px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  .compounds {
    justify-content: space-evenly;
    gap: 10px;
  }

  .compound-title {
    width: 100%;
    margin: 0px, 50px;
    font-size: 12px;
  }
  .compound-alias {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }
  .compound-name {
    font-size: 10px;
  }
}

/*button*/
.actions-column{
  width: 80px;
  gap: 10px;
}

.action-button {
  color: rgba(30, 48, 80);
  border-radius: 10px;
  height: 30px;
  width: 30px;
  padding: 0;
/*  border: 1px solid rgba(30, 48, 80);*/
  border: 0;
  background: none;
}

.edit-button:hover {
  color: orange;
}

.delete-button:hover {
  color: red;
}


/*Milestone-Manager*/
.card-container {
  perspective: 1000px;
  height: 200px;
  width: 140px;
}

.card-container .card {
  position: relative;
  transform-style: preserve-3d;
  transition: transform .8s;
  height: 100%;
  width: 100%;
}

  .card-container:hover .card {
    transform: rotateY(180deg);
  }

.front, .back {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
}

.front{
    z-index: 2;
}

.back {
  background: #ffa7a7;
  transform: rotateY(180deg);
  z-index: 1;
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}

.milestone-delete{
    border: 0;
    background: transparent;
}


/* Table */
.brand-bg {
  background: #e5f9e2;
}

/* Footer */
.footer-container {
  background: #333;
  display: flex;
  flex-direction: row;
/*  height: 180px;*/
  color: #fff;
  padding: 30px;
}

.footer-title{
    text-transform: uppercase;
    font-weight: bold;
}

.footer-subtitle{
    font-weight: lighter;
    color: #fff;
}

.social-media{
    gap: 20px;
    display: flex;
    margin: 20px 0;
    
}

.social-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border: 1px solid #fff;
    border-radius: 5px;
}

  .social-icon:hover{
      border-color: #ffd800;
      color: #ffd800;
  }


.footer-nav{
    display: flex;
    column-gap: 20px;
    row-gap: 10px;
    list-style: none;
    height: fit-content;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

  .footer-nav .nav-item {
  }
  .footer-nav .nav-link {
    font-size: 12px;
    font-weight: lighter;
  }

@media (max-width: 992px) {

  .footer-container {
    flex-direction: column;
    gap: 30px;
  }

  .social-media{
    justify-content: center;
    margin-bottom: 0;
    margin-top: 8px;
  }

  .social-title{
    text-align: center;
  }

  .social-icon{
      border: 0;
  }

  .footer-nav{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .footer-nav .nav-link {
    font-size: 12px;
    font-weight: lighter;
  }
}


/*Snackbar style*/
:root {
  --mdc-snackbar-supporting-text-color: #fff;
  --mdc-snackbar-supporting-text-size: 16px;
  --mat-mdc-snack-bar-button-color: #fff;
}

.success-snackbar {
  --mdc-snackbar-container-color: #00ba54;
  text-align: center;
  padding: 8px 16px;
}

.error-snackbar {
  --mdc-snackbar-container-color: red;
  text-align: center;
  padding: 8px 16px;
}


/*Mouse Trail*/
#mouse-trail {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 9999;
}

.trail-circle {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: linear-gradient(45deg, #2fcca7, #ff0, #ff6a00, #ff0);
  opacity: 0.8;
  animation: fade 0.8s forwards;
}

@keyframes fade {
  to {
    transform: scale(0);
    opacity: 0;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
