<section class="py-4">
  <div class="compound-container">
    <div class="compound-title mb-3">
      <span>Standard solid tyres are manufactured with three different layers of black compounds.
            On customer request we can manufacture our solid tyres with the below mentioned compounds:</span>
    </div>
    <div class="compounds">
      <div class="compound" *ngIf="compound1">
        <div class="circle compound-alias compound-1">
          <span>{{compound1.alias}}</span>
        </div>
        <div class="compound-name">
          <span>{{compound1.name}}</span>
        </div>
      </div>
      <div class="compound"  *ngIf="compound2">
        <div class="circle compound-alias compound-2">
          <span>{{compound2.alias}}</span>
        </div>
        <div class="compound-name">
          <span>{{compound2.name}}</span>
        </div>
      </div>
      <div class="compound" *ngIf="compound3">
        <div class="circle compound-alias compound-3">
          <span>{{compound3.alias}}</span>
        </div>
        <div class="compound-name">
          <span>{{compound3.name}}</span>
        </div>
      </div>
      <div class="compound"  *ngIf="compound4">
        <div class="circle compound-alias compound-4">
          <span>{{compound4.alias}}</span>
        </div>
        <div class="compound-name">
          <span>{{compound4.name}}</span>
        </div>
      </div>
      <div class="compound" *ngIf="compound5">
        <div class="circle compound-alias compound-5">
          <span>{{compound5.alias}}</span>
        </div>
        <div class="compound-name">
          <span>{{compound5.name}}</span>
        </div>
      </div>
    </div>
  </div>
</section>
