<section>
  <div class="banner">
    <img [src]="bannerImageUrl" alt="Bannar Image" class="d-block w-100" />
  </div>
</section>

<section class="tables-section">
  <div class="container">
    <!--<div class="row gx-4 gy-4">-->
    <!-- Solid Tyre Comfort Table -->
    <div class="table-container">
      <solid-tyre-comfort></solid-tyre-comfort>
    </div>

    <!-- Solid Tyre Smart Table -->
    <div class="table-container">
      <solid-tyre-smart></solid-tyre-smart>
    </div>

    <!-- Solid Tyre Rib Table -->
    <div class="table-container">
      <solid-tyre-rib></solid-tyre-rib>
    </div>

  </div>
</section>
