<!--<section>
  <div class="banner">
    <img [src]="bannerUrl" alt="Company Image" class="d-block w-100"/>
  </div>
</section>-->



<section class="about-us py-5">
  <div class="container">
    <!-- Features Section -->
    <div>
      <h3 class="mb-4">Key Features</h3>
      <div class="justified-text key-feature">
        <!--<img [src]="featureImage" alt="Retreading Process" class="dashboard-img img-fluid rounded">-->
        <ul>
          <li class="mb-3">
            <strong class="highlight">COMFORT:</strong> COMFORT solid tyres have a tread pattern designed for any type of forklift, usage, floor and even for high load applications. They are available in two versions, the "TRADITIONAL" one in black colour and the "NO MARKING" one in light colour. The tread compound can also be in anti-oil, antistatic and anti-cut versions. COMFORT solid tyres can be produced in "DUAL-COMPOUND" version for static or very slow speed applications.
            <button type="button" class="btn btn-link" routerLink="/product">More</button>
          </li>
          <li>
            <strong class="highlight"> SMART:</strong> SMART solid tyres have been specifically designed to be used on electric forklifts, as they assure high smoothness thanks to their innovative "full profile" tread pattern smoothness that reduce the energy consumption of batteries for a longer charge of the forklift. By this brand of solid tyres, Comfort Green Tyre also introduced a new rubber compound for tread, having higher mechanical features. They are available in two versions, the "TRADITIONAL" one in black colour and the "NO MARKING" one in light colour. The tread compound is also available in anti-oil, antistatic and anti-cut versions.
            <button type="button" class="btn btn-link" routerLink="/product">More</button>
          </li>
        </ul>
      </div>
      <span>
        <strong>Note:</strong> The model for quick coupling rims called "FLASH" is available for both types of solid tyres
        <strong class="highlight">"COMFORT"</strong> and <strong class="highlight">"SMART"</strong>.
      </span>
    </div>

    <!-- Certifications Section -->
    <div>
      <p><strong class="highlight">"COMFORT" AND "SMART"</strong><b> SOLID  TYRES  are  produced in compliance with the following certifications:</b></p>
      <div class="certification">
        <ul>
          <li>UNI EN ISO 9001:2000 certified system</li>
          <li>E.T.R.T.O. Specifications</li>
          <li>ISO 2883 for antistatic versions</li>
          <li>UNI ISO 1074 for vehicle steadiness</li>
        </ul>
        <img [src]="certificationImage" alt="Retreading Process" class="stump img-fluid">
      </div>
    </div>
  </div>
</section>
  <!--<div class="container mb-5">
    <div class="row ">
      <div class="col-lg-8">
        <h2 class="mb-4">Who We Are</h2>
        <p>
          We are a leading company specializing in tyre retreading, offering sustainable and cost-effective solutions
          to extend the life of your tyres. With decades of expertise, cutting-edge technology, and a commitment to
          quality, we provide safe and eco-friendly retreading services for both commercial and personal vehicles.
        </p>
        <p>
          Our advanced retreading techniques help reduce waste, save money, and ensure optimal performance. We strive
          for excellence in every tyre we retread, making sure you get the most value and safety on the road.
        </p>
      </div>
      <div class="col-lg-4">
        <img [src]="companyProfileImage" alt="Company Image" class="img-fluid reactive-border shadow">
      </div>
    </div>
  </div>-->

   <!--What is Tyre Retreading?--> 
  <!--<div class="container mb-5">

    <div class="row">
      <div class="col-md-4">
        <img [src]="retreadingImage" alt="Retreading Process" class="img-fluid reactive-border shadow">
      </div>
      <div class="col-md-8">
        <h2 class="text-s mb-4">What is Tyre Retreading?</h2>
        <p>
          Tyre retreading is a process of renewing worn-out tyres by applying a new tread, giving them a second life. It
          is a sustainable and economical alternative to buying new tyres, as it reuses the original casing while
          providing new tread patterns for enhanced grip and durability. Retreaded tyres are widely used in commercial
          and fleet vehicles due to their cost-efficiency and reliability.
        </p>
      </div>

    </div>
  </div>-->

   <!--Types of Retreading--> 
  <!--<div class="container mb-5">
    <h2 class="text-center mb-4">Types of Retreading</h2>
    <div class="row">-->
       <!--Conventional or Hot Retreading--> 
      <!--<div class="col-md-6 mb-4">
        <h3>Conventional or Hot Retreading</h3>
        <p>
          Hot retreading, also known as conventional retreading, involves applying a new tread to a tyre using heat and
          pressure. This method is ideal for tyres that undergo heavy usage and need strong adhesion between the new
          tread and the casing. It is a tried-and-tested process that provides a durable and long-lasting solution for
          heavy-duty vehicles.
        </p>
      </div>-->
       <!--Cold or Precured Retreading--> 
      <!--<div class="col-md-6 mb-4">
        <h3>Cold or Precured Retreading</h3>
        <p>
          Cold retreading, also known as precured retreading, involves bonding a precured tread to the casing without
          the application of heat. This method is preferred for its consistent tread quality and is widely used in
          commercial vehicles. Cold retreading provides superior traction and is more energy-efficient, making it an
          eco-friendly option.
        </p>
      </div>
    </div>
  </div>-->

   <!--Vision and Mission Section--> 
  <!--<div class="container">
    <h2 class="text-center mb-4">Our Vision & Mission</h2>
    <div class="row text-center">-->
       <!--Vision--> 
      <!--<div class="col-md-6">

        <div class="card shadow-lg p-4 mb-4">
          <div class="row">
            <div class="col-md-2 d-flex align-items-center">
              <div class="card-icon">
                <fa-icon [icon]="faEye"></fa-icon>
              </div>
            </div>
            <div class="col-md-10">
              <h3>Our Vision</h3>
              <p>
                To be the most trusted and sustainable tyre retreading company, delivering quality and innovation while
                promoting eco-friendly practices in the automotive industry.
              </p>
            </div>
          </div>

        </div>
      </div>-->
       <!--Mission--> 
      <!--<div class="col-md-6">
        <div class="card shadow-lg p-4 mb-4">
          <div class="row">
            <div class="col-md-2 d-flex align-items-center">
              <div class="card-icon">
                <fa-icon [icon]="faBullseye" class="icon-center"></fa-icon>
              </div>
            </div>
            <div class="col-md-10">
              <h3>Our Mission</h3>
              <p>
                We aim to provide exceptional tyre retreading services that extend the life of tyres, reduce waste, and
                offer cost-effective solutions. Our mission is to ensure customer satisfaction through quality, safety, and
                innovation, while contributing to a greener planet.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>-->

