<div class="footer-container">
  <div class="col-lg-6 col-12">
    <div class="footer-title">
      <h5>Comfort Green Tyre Sdn Bhd</h5>
    </div>
    <div class="footer-subtitle">
      <span>&#169; Copyright 2024 Comfort Green Tyre Sdn. Bhd. (1562061-W) All rights reserved.</span>
    </div>
  </div>

  <!--<div class="col-lg-3 col-12">
    <div class="social-title">
      <h5>Follow us on social media</h5>
    </div>
    <div class="social-media">
       <div class="social-icon"> <fa-icon [icon]="faFacebook"></fa-icon></div>
       <div class="social-icon"> <fa-icon [icon]="faInstagram"></fa-icon></div>
       <div class="social-icon"> <fa-icon [icon]="faTwitter"></fa-icon></div>
    </div>
  </div>-->


  <div class="col-lg-6 col-12">
    <ul class="footer-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/product">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/qa">QUALITY ASSURANCE</a>
      </li>
      <!--<li class="nav-item">
        <a class="nav-link" routerLink="/milestone">MILESTONE</a>
      </li>-->
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">CONTACT US</a>
      </li>
    </ul>
  </div>
</div>
