<div class="footer-container">
  <div class="col-6">
    <h3 class="footer-title">Evergreen Comfort Green</h3>
    <span class="footer-subtitle">Copiright of the company.</span>
  </div>

  <div class="col-3">
    <h5>Follow us on social media</h5>
    <div class="social-media">
       <div class="social-icon"> <fa-icon [icon]="faFacebook"></fa-icon></div>
       <div class="social-icon"> <fa-icon [icon]="faInstagram"></fa-icon></div>
       <div class="social-icon"> <fa-icon [icon]="faTwitter"></fa-icon></div>
    </div>
  </div>


  <div class="col-3">
    <ul class="footer-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">PRODUCTS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/">QUALITY ASSURANCE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/milestone">MILESTONE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">CONTACT US</a>
      </li>
    </ul>
  </div>
</div>
