<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <div class="navbar-brand logo-container circle">
      <a> <img src="../../assets/images/logo.png" alt="Logo" class="logo"/></a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">ABOUT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product">PRODUCTS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/qa">QUALITY ASSURANCE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/milestone">MILESTONE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">CONTACT US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/setting">SETTING</a>
        </li>
      </ul>
      <span class="navbar-text">Eversafe Comfort Green</span>
    </div>
  </div>
</nav>
